<section class="flex justify-center mt-16 min-h-[100vh]">

  <%= render "users/shared/side_menu"%>
  <section class="w-[746px] ml-2 bg-white border rounded shadow-[0_5px_15px_rgba(0,0,0,0.03)]  border-project-blue-base mb-16">
    <!-- component -->

    <div class="min-h-screen my-16 bg-white ui-sans-serif font-ui-sans-serif">
        <div class="container mx-auto">
            <div class="w-full max-w-2xl p-6 mx-auto inputs">
                <h2 class="text-2xl text-gray-900">個人設定</h2>
                <form class="pt-4 mt-6 border-t border-gray-400">
                    <div class='flex flex-wrap mb-6 -mx-3'>
                       <%= form_with(model: resource, class: "flex flex-col justify-center w-1/2", as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <div class='w-full px-3 mb-6 md:w-full'>
                            <label class='block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase' for='grid-text-1'>信箱</label>                          
                            <%= f.text_field :email, data: { controller: "user-edit--email", action: "input->user-edit--email#searchEmail" }, class:'block w-full px-4 py-3 leading-tight text-gray-700 bg-white border border-gray-400 rounded-md shadow-inner appearance-none focus:outline-none focus:border-gray-500' %>
                        </div>
                        <div data-controller="user-edit--password">
                        <div class='w-full px-3 mb-6 md:w-full' >
                          <%= f.label :current_password, "原密碼：", class: 'block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase' %>
                          <span class="text-sm">（請輸入您現在的密碼，以確認是本人的操作）</span>
                          <%= f.password_field :current_password, autocomplete: "current-password", data: { user_edit__password_target: "oldPassword", action: "input->user-edit--password#checkPassword" }, class:'block w-full px-4 py-3 leading-tight text-gray-700 bg-white border border-gray-400 rounded-md shadow-inner appearance-none focus:outline-none focus:border-gray-500' %>
                        </div>
                        <div class='w-full px-3 mb-6 md:w-full '>
                          <%= f.label :password, "新密碼：" , class:'block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase'%><span class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase">（若沒有要更換密碼請留白）</span>
                          <%= f.password_field :password, autocomplete: "new-password", data: { action: "input->user-edit--password#setNewPassword", user_edit__password_target: "newPassword" }, class:'block w-full px-4 py-3 leading-tight text-gray-700 bg-white border border-gray-400 rounded-md shadow-inner appearance-none focus:outline-none focus:border-gray-500', disabled: true %>
                          <% if @minimum_password_length %>
                            <em class="text-sm">最少<%= @minimum_password_length %>個字元</em>
                          <% end %>
                        </div>
                        <div class='w-full px-3 mb-6 md:w-full '>
                          <%= f.label :password_confirmation, "新密碼確認：", class:'block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase'%><span class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" %>
                          <%= f.password_field :password_confirmation, autocomplete: "new-password", disabled: true, data: { user_edit__password_target: "newPasswordConfirmation", action: "input->user-edit--password#setNewPassword" }, class:'block w-full px-4 py-3 leading-tight text-gray-700 bg-white border border-gray-400 rounded-md shadow-inner appearance-none focus:outline-none focus:border-gray-500 bg-neutral-100 ' %>
                        </div>
                        
                        </div>
                          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                          <% end %>
                          
                       <div class="flex items-center justify-center w-full">
                        <%= f.submit "更新Email/密碼", class: "button-main-color px-2 py-1 mr-3 text-gray-900 bg-gray-200 border border-gray-400 rounded-md shadow-sm appearance-none", disabled: true, data: { controller: "user-edit--submit-button",
                         action: "disable-email-checked@document->user-edit--submit-button#checker enable-email-checked@document->user-edit--submit-button#checker disable-password-checked@document->user-edit--submit-button#checker 
                         enable-password-checked@document->user-edit--submit-button#checker" } %>
                      </div>
                    <% end %>
                        <!--
                        <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
                        -->

                        
                    </div>
                </form>
            </div>
        </div>
    </div>
  
